<html>
<head>
<title>MyPasteBin app</title>

    <!-- Include Ext and app-specific scripts: -->
    <script type="text/javascript" src="/static/js/extjs/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/static/js/extjs/ext-all-debug.js"></script>    
        
    <!-- Include Ext stylesheets here: -->
    <link rel="stylesheet" type="text/css" href="/static/js/extjs/resources/css/ext-all.css" />

    <!-- my scripts -->
    <script type="text/javascript" src="/static/js/basic.js"></script> 

</head>
<body>

<div id='table'></div>
<div id='detail'></div>

</body>
</html>
